<ion-view title="{{optionsCtrl.title}}" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="opciones-list4" class=" manual-list-fullwidth ">
            <ion-item class="item-icon-left positive  " id="opciones-list-item30">
                {{ optionsCtrl.new_update }}
                <i class="icon ion-volume-medium"></i></ion-item>
            <ion-item class="item-icon-right  " id="opciones-list-item26">
                {{ optionsCtrl.feedback }}
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="opciones-list-item27">
                {{ optionsCtrl.my_items }}
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="opciones-list-item33">
                {{ optionsCtrl.my_shares }}
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>