<ion-view title="{{ shareCtrl.title }}" id="page5">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="comparte-card22">
            <ion-item class="item-avatar  " id="comparte-list-item31">
                <h2 ng-bind="shareCtrl.info"></h2>
            </ion-item>
        </div>
        <button id="comparte-button9" ng-bind="shareCtrl.btn_facebook"
                class=" button button-positive  button-block icon"
                ng-class="shareCtrl.icon_facebook"></button>
        <button id="comparte-button10" ng-bind="shareCtrl.btn_twitter" 
                class=" button button-positive  button-block" 
                ng-class="shareCtrl.icon_twitter"></button>
    </ion-content>
</ion-view> 